:root {
    --xq-neon: #00ffcc;
    --bg-dark: #050505;
}

body {
    background: var(--bg-dark);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.glitch-text {
    color: var(--xq-neon);
    text-shadow: 2px 2px #ff0055;
    letter-spacing: 5px;
    text-align: center;
}

#viewport {
    border: 2px solid #333;
    height: 400px;
    margin: 20px;
    padding: 15px;
    background: #000;
    overflow-y: scroll;
}

.xq-box {
    border-left: 5px solid var(--xq-neon);
    padding: 10px;
    background: #111;
}
